/* -------------------Menu layout-------------------- */

/* menu nav layout */

.header-fixed{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    /* Deixando o elemento a frente dos demais para não ter sobreposições entre elementos abaixo do mnu fixo*/
    z-index: 4;
}

/* menu Nav */



nav{
    background-color: #37474F;
}

#brand-van{
    font-size: 20pt;
    color: white;
}

#brand-faq{
    font-size: 20pt;
    color: white;
}

#icon-faq{
    font-size: 20pt !important;
}

#menu-link{
    font-size: 12pt;
}


/* Fixando o menu usando o espaçamento do main */
/* Corpo do conteudo e main */

body{
    display: flex;
    min-height: 100vh;
    flex-direction:column;

}

main{
    padding-top: 90px;
    width: 100%;
    /* height: 1500px; */
    flex: 1 0 auto;
}




/* -------------------Contéudo fixo Busca Home-------------------- */

#container-fixo-busca{
    padding-left: 150px;
    padding-right: 150px;

}

#texto-duvida-fixo{
    font-size: 22pt;
    padding-bottom: 8px;
}

#campo-busca-fixo{
    font-size: 20px;
    border: 1px solid #37474F;
}

#lupa-icon{
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20pt;
    border: 1px solid #37474F;
}

/* Espaço entre o card Pesquisa e Perguntas mais Recentes */
#form-busca{
    padding-bottom: 40px;
}


#headerCards{
    font-size: 15pt;

}

/* Card central de perguntas mais recentes */
#card-central-pergunta-recente{
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 300px;

}
/* Card central de resultado de pergunta */
#card-central-resultado-busca{
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 100px;
}
#card-button{
    font-size: 18pt;
    text-align: left;
    text-decoration: none;
    color: #37474F;
    background-color: rgb(0,0,0,0.03);
    border-bottom: 1px solid rgb(0,0,0,0.125);
}

/* transition de resultado de busca  */

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active em versões anteriores a 2.1.8 */ {
    opacity: 0;
  }
/* -------------------Rota de Categoria de sistemas -------------------- */

/* #card-categorias{
    padding-right: 150px;
    padding-left: 150px;

} */

#headerCategoria{
    font-size: 15pt;
    color: white;
}

/* -------------------Rota Pesquisar Erro-------------------- */

/* #botaoConfiguracaoCA{
    background-color: #37474F;
    color: white;
    text-decoration: none;
} */

/* #botaoConfiguracaoCA:hover{
    background-color: black;
} */


#card-header{
    background-color: #f1f1f1;
    /* rgb(193, 196, 197); */
}




/* -------------------Rota Cadastro-------------------- */
#headerCadastro{
    font-size: 15pt;
    color: white;
}

/* #headerOpcaoCadastro{
    background-color: #37474F;
} */


/* ul#tabelaCadastro:hover{
    background-color: #37474F;

} */

/* #opcaoCadastro{
    font-size: 12pt;
} */

#headerCadastroMenu{
    background-color: #f7f7f9;
    border: 1px solid  #e1e1e8;
    padding-top: 5px;
    padding-bottom: 5px;

}

/* #buttonNovoCadastro{
    text-align: center;
} */

#buttonNovoCadastro{
    /* padding-right: 53px;
    padding-left: 53px; */
    padding: 0px 53px 0px 53px;
    margin: 30px 0px 20px 0px;
    /* margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 0px; */

}

#cadastroPerguntaResposta-tab, #cadastroCodigoErro-tab, #cadastroSistema-tab {
    color: black;
    border: 1px solid white;
    margin-right: 2px;

    border-radius: 5px 5px 5px 5px;

}
#cadastroPerguntaResposta-tab.nav-link.active, #cadastroCodigoErro-tab.nav-link.active, #cadastroSistema-tab.nav-link.active {
    color: white;
}



/* Container do input Tamanho  */
#container-novo-sistema{
    padding-right: 450px;
    padding-top: 25px;
    padding-bottom: 50px;
}
/* opção cadastrar novo Sistema */

/* Mensagem de avisos do Botã cadastrar */
#headerMensagem{
    background-color: #37474F;
    color: white;
}


.click{
    cursor: pointer;
}


/* #modal-editar{

} */
/*
.modal-enter {
    opacity: 0;
  }

  .modal-leave-active {
    opacity: 0;
  }

  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }


.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active em versões anteriores a 2.1.8 */
    /* opacity: 0;
  } */
  .bounce-enter-active, .bounce-leave-active  {
    transition: opacity .15s;
    /* animation: bounce-in .5s; */
  }
  .bounce-enter, .bounce-leave-to {
    opacity: 0;
    animation: bounce-in .15s alternate-reverse;
  }
  @keyframes bounce {
      /* from{ top: 0%;}
      to{top: 100%;} */

    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }

/* -------------------Scroll dos botões de Erros-------------------- */

#scroll-botao{
    /* background: brown; */
    /* border: 1px solid black; */
    overflow: auto;
    border-radius: 5px;
    height: 500px;
    width: 735px;
}

/* width- largura da barra de rolagem*/
#scroll-botao::-webkit-scrollbar {
    width: 10px;
  }

  /* Linha onde fica a barra de rolagem*/
  #scroll-botao::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
    padding-left: 5px;
  }

  /* Barra de rolagem*/
  #scroll-botao::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  /* hover - cor quando passar ou segurar a barra de rolagem */
  #scroll-botao::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* -------------------Scroll do texto-------------------- */

  #scroll-texto{
    /* background: brown; */
    border: 1px solid rgb(131, 119, 119);
    padding: 5px;
    overflow: auto;
    border-radius: 5px;
    height: 500px;



}
  /* width- largura da barra de rolagem*/
  #scroll-texto::-webkit-scrollbar {
    width: 10px;
  }

  /* Linha onde fica a barra de rolagem*/
  #scroll-texto::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
    padding-left: 5px;
  }

  /* Barra de rolagem*/
  #scroll-texto::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  /* hover - cor quando passar ou segurar a barra de rolagem */
  #scroll-texto::-webkit-scrollbar-thumb:hover {
    background: #555;
  }





  /* -----------------Reponsivo para todos os dispositivos ------------------*/


  /* // Dispositivos small (telefones em modo paisagem, com maximo 576px) */
@media (max-width: 575.98px) {

     /* menu Nav */

    #brand-van{
        font-size: 18pt;
    }

    #brand-faq{
        font-size: 18pt;
    }

    #icon-faq{
        font-size: 18pt !important;
    }



    /*Qual a sua duvida fixo e Campo input busca fixo*/

    #texto-duvida-fixo{
        font-size: 20pt;
    }

    #container-fixo-busca{
        padding-left: 25px;
        padding-right: 25px;
    }

    #campo-busca-fixo{
        font-size: 18pt;
        text-align: center;
    }

    /* //Fonte do Placeholder para dispositivo que acessar */
        /* #campo-busca-fixo:focus {
        font-size: 15pt;
    } */

    /* Chrome, Safari, Opera */
    #campo-busca-fixo::-webkit-input-placeholder {
        font-size: 12pt;
    }

    /* Firefox 18- */
    #campo-busca-fixo:-moz-placeholder {
        font-size: 12pt;
    }

    /* Firefox 19+ */
    #campo-busca-fixo::-moz-placeholder {
        font-size: 12pt;
    }

    /* IE10+ */
    #campo-busca-fixo:-ms-input-placeholder {
        font-size: 12pt;
    }

    /* Lupa do input */
    #lupa-icon{
        /* font-size: 30pt; */
        padding-top: 15px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 20pt;
    }

    /* Card central de perguntas mais recentes */
    #card-central-pergunta-recente{
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 300px;
    }

        #card-button{
        font-size: 15pt;
    }

    /* Card central de resultado de pergunta */
    #card-central-resultado-busca{
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 100px;
    }
    /* espaço n ocorpo do card tanto pesquisa como perguntas recentes*/
    #card-body-perguntas-recentes{
        padding: 1.5px 0px 1.5px 0px;
    }
    #card-body-perguntas-resultado{
        padding: 1.5px 0px 1.5px 0px;
    }
    #card-body-respostas{
        font-size: 10pt;
        padding: 5px 2px 2px 5px;
    }


    /*-------------------Categorias de dúvidas-------------------*/

#card-categorias{
    margin: auto !important;
}

#card-body-categorias{
    padding-top: 0.50rem !important;
    padding-right: 0.25rem !important;
    padding-bottom: 0.25rem !important;
    padding-left: 0.25rem !important;
}

}

/* // Dispositivos médios (tablets com no máximo 768px*/
@media (min-width: 575.98px) and (max-width: 767.98px){

    /* menu Nav */

    #brand-van{
        font-size: 18pt;
    }

    #brand-faq{
        font-size: 18pt;
    }

    #icon-faq{
        font-size: 18pt !important;
    }

    #menu-link{
        font-size: 8pt
    }



    /*Qual a a duvida fixo e Campo input busca fixo*/

    #texto-duvida-fixo{
        font-size: 20pt;
    }

    #container-fixo-busca{
        padding-left: 10px;
        padding-right: 10px;
    }


    #campo-busca-fixo{
        width: 100%;
        font-size: 18pt;
    }

    /* //Fonte do Placeholder para dispositivo que acessar */
      /* #campo-busca-fixo:focus {
        font-size: 15pt;

    } */

    /* Chrome, Safari, Opera */
    #campo-busca-fixo::-webkit-input-placeholder {
        font-size: 15pt;

    }

    /* Firefox 18- */
    #campo-busca-fixo:-moz-placeholder {
        font-size: 15pt;
    }

    /* Firefox 19+ */
    #campo-busca-fixo::-moz-placeholder {
        font-size: 15pt;
    }

    /* IE10+ */
    #campo-busca-fixo:-ms-input-placeholder {
        font-size: 15pt;
    }

    #lupa-icon{
        padding-top: 15px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 20pt;
    }

        /* Card central de perguntas mais recentes */
    #card-central-pergunta-recente{
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 300px;
    }

        #card-button{
        font-size: 15pt;
    }

    /* Card central de resultado de pergunta */
    #card-central-resultado-busca{
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 100px;
    }
    /* espaço n ocorpo do card tanto pesquisa como perguntas recentes*/
    #card-body-perguntas-recentes{
        padding: 1.5px 0px 1.5px 0px;
    }
    #card-body-perguntas-resultado{
        padding: 1.5px 0px 1.5px 0px;
    }
    #card-body-respostas{
        font-size: 10pt;
        padding: 5px 2px 2px 5px;
    }

}

/* // Dispositivos large (desktops com no máximo 992px ) */
@media (min-width: 767.98px) and (max-width: 991.98px) {


    /* menu Nav */

    #brand-van{
        font-size: 20pt;
    }

    #brand-faq{
        font-size: 20pt;
    }

    #icon-faq{
        font-size: 22pt !important;
    }



    /*Qual  a sua duvida fixo e Campo input busca fixo*/

    #texto-duvida-fixo{
        font-size: 25pt;
    }

    #container-fixo-busca{
        padding-left: 10px;
        padding-right: 10px;
    }


    #campo-busca-fixo{
        width: 100%;
        font-size: 20pt;
    }

    /* //Fonte do Placeholder para dispositivo que acessar */
      /* #campo-busca-fixo:focus {
        font-size: 15pt;

    } */
    /* Chrome, Safari, Opera */
    #campo-busca-fixo::-webkit-input-placeholder {
        font-size: 15pt;
    }
    /* Firefox 18- */
    #campo-busca-fixo:-moz-placeholder {
        font-size: 15pt;
    }
    /* Firefox 19+ */
    #campo-busca-fixo::-moz-placeholder {
        font-size: 15pt;
    }
     /* IE10+ */
    #campo-busca-fixo:-ms-input-placeholder {
        font-size: 15pt;
    }

    #lupa-icon{
        padding-top: 15px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 20pt;
    }

    /* Card central de perguntas mais recentes */
    #card-central-pergunta-recente{
        margin-right: 55px;
        margin-left: 55px;
        margin-bottom: 300px;
    }

        #card-button{
        font-size: 15pt;
    }

    /* Card central de resultado de pergunta */
    #card-central-resultado-busca{
        margin-right: 55px;
        margin-left: 55px;
        margin-bottom: 100px;
    }
    /* espaço n ocorpo do card tanto pesquisa como perguntas recentes*/
    #card-body-perguntas-recentes{
        padding: 5px 5px 5px 5px;
    }
    #card-body-perguntas-resultado{
        padding: 1.5px 0px 1.5px 0px;
    }
    #card-body-respostas{
        font-size: 12pt;
        padding: 5px 2px 2px 5px;
    }

}

/* // Dispositivos extra large (desktops grandes com no máximo 1200px ) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /************************* Home ***************************/
    /* menu Nav */

    #brand-van{
        font-size: 20pt;
    }

    #brand-faq{
        font-size: 20pt;
    }

    #icon-faq{
        font-size: 25pt !important;
    }



    /*Qual a a duvida fixo e Campo input busca fixo*/

    #texto-duvida-fixo{
        font-size: 25pt;
    }

    #container-fixo-busca{
        padding-left: 10px;
        padding-right: 10px;
    }


    #campo-busca-fixo{
        width: 100%;
        font-size: 20pt;
    }

    /* //Fonte do Placeholder para dispositivo que acessar */
      /* #campo-busca-fixo:focus {
        font-size: 20pt;

    } */
    /* Chrome, Safari, Opera */
    #campo-busca-fixo::-webkit-input-placeholder {
        font-size: 15pt;
    }
/* Firefox 18- */
    /* #campo-busca-fixo:-moz-placeholder {
        font-size: 20pt;
        text-decoration: none;
    } */
/* Firefox 19+ */
    /* #campo-busca-fixo::-moz-placeholder {
        font-size: 20pt;
    } */
 /* IE10+ */
    #campo-busca-fixo:-ms-input-placeholder {
        font-size: 20pt;
    }

    #lupa-icon{
        padding-top: 15px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 20pt;
    }

              /* Card central de perguntas mais recentes */
    #card-central-pergunta-recente{
        margin-right: 60px;
        margin-left: 60px;
        margin-bottom: 300px;
    }

        #card-button{
        font-size: 15pt;
    }

    /* Card central de resultado de pergunta */
    #card-central-resultado-busca{
        margin-right: 60px;
        margin-left: 60px;
        margin-bottom: 100px;
    }
    /* espaço n ocorpo do card tanto pesquisa como perguntas recentes*/
    #card-body-perguntas-recentes{
        padding: 5px 5px 5px 5px;
    }
    #card-body-perguntas-resultado{
        padding: 1.5px 0px 1.5px 0px;
    }
    #card-body-respostas{
        font-size: 12pt;;
        padding: 5px 2px 2px 5px;
    }
    /******************* cadastro****************** */

    #input-novo-sistema{
        padding-right: 100px;
        padding-left: 100px;
    }
}



